// Colors
$color-darker-grey: #303030;
$color-dark-grey: #555555;
$color-middle-grey: #808080;
$color-middle-light-grey: #909090;
$color-light-grey: #f3f3f3;

// Font Sizes
$font-size-xlarge: 30px;
$font-size-large: 20px;
$font-size-medium: 16px;
$font-size-xsmall: 14px;
