// Colors
$color-darker-grey: #303030;
$color-dark-grey: #555555;
$color-middle-grey: #808080;
$color-middle-light-grey: #909090;
$color-light-grey: #f3f3f3;





$color-off-white: #FFF7EA;
$color-red: #DC3228;
$color-light-blue: #95DEE8;
$color-dark-blue: #0197A7;
$color-yellow: #F2B556;
$color-black: #282828;
$color-pink: #FFD6D7;
$color-navy-blue: #1C4587;

$color-grey-blue: #CFE2F3;
$color-teal: #49E1CB;


// Font Sizes
$font-size-xlarge: 42px;
$font-size-large: 23px;
$font-size-medium: 16px;
// $font-size-small: 16px;
$font-size-xsmall: 14px;
