$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "global/defaults.scss";
@import "global/buttons.scss";
@import "global/colors.scss";
@import "global/fonts.scss";
@import "global/forms.scss";
@import "global/sections.scss";


@import "partials/app.scss";
@import "partials/carousel.scss";
@import "partials/disc.scss";
@import "partials/faq.scss";
@import "partials/header.scss";
@import "partials/marketing.scss";
@import "partials/preorder.scss";
@import "partials/vertical-slideshow.scss";
@font-face {
  font-family: 'GothamBook';
  src: url('../GothamBook/GothamBook.eot?#iefix') format('embedded-opentype'),  url('../GothamBook/GothamBook.woff') format('woff'), url('../GothamBook/GothamBook.ttf')  format('truetype'), url('../GothamBook/GothamBook.svg#GothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
	font-family:'GothamBook', 'HelveticaNeue', Arial !important;
}
.savings{ 
	display:block;
	font-size:14px;
	color:#999 !important;
}
.product-content h2{
	height:50px !important;
}
.product-content .product-content-text{
	height:100px !important;
	padding-right:20px !important;
}
.p-btm-40{
	padding-bottom:40px;
}
.product-disabled{
	opacity: 0.3 !important;
}
.p-top-40{
	padding-top:40px !important;
}
.product-disabled .btn:hover{
	background:black;
	color:white;
}
.indicator_tabs li{
	padding:10px 40px 10px 20px;
	background: url('../images/nav/arrow.png') no-repeat;
	background-position:  center right;
}
@media screen and (min-width: 1024px) {
.home_header{
	padding-left:120px;
}
}
@media screen and (max-width: 1024px) {
.home_header{
	padding-left:10px;
}
}