@import "../_variables.scss";

.carousel-indicators li{
  border: 2px solid $color-dark-grey;
  width: 15px;
  height: 15px;
}
.carousel-indicators .active{
  background-color: $color-dark-grey;
  width: 15px;
  height: 15px;
  position: relative;
  top: -1px;
}

.carousel-control.right, .carousel-control.left{
  background-image: none;
  background-repeat: no-repeat;
  &:hover{
    color: $color-dark-grey;
  }
}
.carousel-control{
  color: $color-dark-grey;
  text-shadow: none;
  top: 50%;
  margin-top: -70px;
  opacity: 1;
  &:hover{
    opacity: 0.7;
  }
}
