@import "../_variables.scss";

.carousel-indicators li{
  border: 2px solid #000;
  width: 15px;
  height: 15px;

}
.carousel-indicators .active{
  background-color: #000;
  width: 15px;
  height: 15px;
  position: relative;
  top: -1px;
}

#header-watch-carousel .carousel-indicators li{
  position: relative;
  top: 40px;
}
#header-watch-carousel .carousel-indicators .active{
  position: relative;
  top: 39px;
}
.carousel-control.right, .carousel-control.left{
  background-image: none;
  background-repeat: no-repeat;
  &:hover{
    color: #000;
  }
}
.carousel-control{
  display: none;
  color: #000;
  text-shadow: none;
  top: 50%;
  margin-top: -70px;
  opacity: 1;
  &:hover{
    opacity: 0.7;
  }
}
