@import "../_mixins.scss";
.disc-container{
  position: relative;
  li{
    @include respond-to(xs){
      margin-bottom: 15px;
    }
  }
}
.hand-container{
  position: absolute;
  bottom: 0;
  right: 0;
  @include respond-to(xs){
    position: relative;
  }
}
.hand-img{
  max-height: 550px;
  @include respond-to(xs){
    max-height: 400px;
  }
}
