@import "../_mixins.scss";

.header{
  padding-left: 20px;
  padding-right: 20px;
  ul.inline li{
    top: 5px;
    padding: 0 5px;
  }
  @include respond-to(xs){
    padding-left: 0;
    padding-right: 0;
    img{
      width: 150px;
    }
    a{
      display: inline;
      padding: 0 !important;
    }
    .preorder{
      width: 130px;
      line-height: 30px;
      position: relative;
      top: -2px;
    }
  }
}

.fixed-header{
  position: fixed;
  background: white;
  width: 100%;
  z-index: 100;
  top: 0;
  padding-bottom: 10px;
  h3 img{
    width: 200px;
  }
  .home{
    display: none;
  }
  .header ul.inline li{
    top: 0;
  }
  .preorder{
    font-weight: 400;
    width: 200px;
  }
}
