@import "../_mixins.scss";
.preorder{
  padding-top: 90px;
  padding-bottom: 0px;
}

.product{
  position: relative;
  .min-height{
    min-height: 45px;
    &-large{
      min-height: 90px;
    }
  }
  .hover-box{
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    position: absolute;
    color: transparent;
    left: 50%;
    margin-left: -100px;
    margin-top: -10px;
    background-color: transparent;
  }
  .product-hover{
    &:hover{
      .hover-box{
        &.sold-out{
          color: #fff;
          background-color: rgba(#000, 0.5);

        }
        &.buy-now{
          color: #000;
          background-color: rgba($color-light-grey, 0.5);
        }
      }
    }
  }
}

.preorder-body{
  @media only screen and (min-width: 1001px) and (max-width: 1200px) {
    .btn-small{
      width: 160px;
    }
    h2.font-montserrat-bold{
      min-height: 70px !important;
    }
  }
  @media only screen and (min-width: 751px) and (max-width: 1000px) {
    .product-content li{
      width: 29% !important;
      padding-bottom: 50px !important;
    }
  }
  @media only screen and (max-width: 750px) {
    .preorder{
      display: none;
    }
    .p-top-100{
      padding-top: 30px !important;
    }
    .product-content li{
      width: 49.5% !important;
      padding-bottom: 50px !important;
      img{
        width: 100%;
        margin: 0;
      }
      h2.font-montserrat-bold{
        min-height: auto !important;
      }
      h2{
        padding: 0;
      }
    }
    .btn-small{
      width: 150px;
    }
  }
}
