@import "../_mixins.scss";

.vertical-slideshow{
  position: relative;
  .slide{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .text-wrapper{
      height: 25%;
      @include respond-to(xs){
        height: 35%;
      };
      padding-top: 50px;
      position: absolute;
      bottom: 0;
      h2{
        width: 100%;
        margin: 0 auto;
      }
    }
    .dark{
      background-color: rgba(0, 0, 0, 0.6);
    }
    .light{
      background-color: rgba(255, 255, 255, 0.8);
    }
    &.slide-1{
      background-image: url("../images/home/vertical-1.jpg");
    }
    &.slide-2{
      background-image: url("../images/home/vertical-2.jpg");
    }
    &.slide-3{
      background-image: url("../images/home/vertical-3.jpg");
    }
    &.slide-4{
      background-image: url("../images/home/vertical-4.jpg");
    }
    .carousel-indicators li{
      border: 2px solid #fff;
    }
    .carousel-indicators .active{
      background-color: #fff;
    }
  }

}
.vertical-slideshow-container{
  // min-height: 400vh;
}
.sticky{
  .vertical-slideshow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 0;
    margin: 0;
  }
}
