@import "../_variables.scss";
@import "../_mixins.scss";

html, body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

// Lists
ul{
  padding: 0;
  margin: 0;
  list-style: none;
  &.inline{
    li{
      padding: 0;
      margin: 0;
      display: inline-block;
    }
  }
}
li.indent {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//Containers
@include respond-to(xs){
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
//Display
.block{display: block;}
.inline{display: inline;}
.inline-block{display: inline-block;}
//Sizing
.full-width{width: 100%}
// Spacing
.m-left-8{margin-left: 8px;}
.m-right-8{margin-right: 8px;}
.m-top-20{margin-top: 20px;}
.m-btm-20{margin-bottom: 20px;}
.m-top-50{margin-top: 50px;}

.p-btm-10{padding-bottom: 10px;}
.p-btm-20{padding-bottom: 20px;}
.p-top-20{padding-top: 20px;}
.p-btm-30{padding-bottom: 30px;}
.p-btm-100{padding-bottom: 100px;}
// Border
.border-none{border:none;}
.border-top{border: none;border-top: 1px solid #fff;}
.border-bottom{border: none;border-bottom: 1px solid #fff;}
.border-left{border: none;border-left: 1px solid #fff;}
.border-right{border: none;border-right: 1px solid #fff;}

// Text
.line-height-200{
  line-height: 200%;
}
.line-height-150{
  line-height: 150%;
}
.uppercase{
  text-transform: uppercase;
}
.underline{
  text-decoration: underline;
  &:hover{
    text-decoration: underline;
  }
}
@include respond-to(xs){
  .xs-text-center{
    text-align: center;
  }
};

// Cursor
.cursor-pointer{
  cursor: pointer;
}

// Images
.max-height-550{
  max-height: 550px;
}
.center-img{
  display: block;
  margin: 0 auto;
}

// MISC
.circle-div{
  border-radius: 50%
}
