@import "../_variables.scss";
html, body{
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-small;
}
.text-xlarge{
  font-size: $font-size-xlarge;
}
.text-large{
  font-size: $font-size-large;
}
.text-medium{
  font-size: $font-size-medium;
}
.text-small{
  font-size: $font-size-small;
}
.text-xsmall{
  font-size: $font-size-xsmall;
  p, a, h4, span{
    font-size: $font-size-xsmall;
  }
}
.font-cardo{
  font-family: 'Open Sans', sans-serif;
  &-bold{
    font-weight: 700;
  }
}
.font-source{
  font-family: 'Source Sans Pro', sans-serif;
  &-bold{
    font-weight: 700;
  }
}
.font-open{
  font-family: 'Open Sans', sans-serif;
  &-semibold{
    font-weight: 600;
  }
  &-bold{
    font-weight: 700;
  }
}
