@import "../_variables.scss";
@import "../_mixins.scss";
html, body{
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-small;
}
.text-xlarge{
  font-size: $font-size-xlarge;
}
.text-large{
  font-size: $font-size-large;
  @include respond-to(xs){
      font-size: 20px;
  }
}
.text-medium{
  font-size: $font-size-medium;
}
.text-small{
  font-size: $font-size-small;
}
.text-xsmall{
  font-size: $font-size-xsmall;
  p, a, h4, span{
    font-size: $font-size-xsmall;
  }
}
@include respond-to(xs){
  .text-medium-sm{
    font-size: 16px;
  }
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  &-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
}
