@import "../_variables.scss";
html, body{
  font-family: "Open Sans";
  font-size: $font-size-small;
}
.text-xlarge, h1{
  font-size: $font-size-xlarge;
}
.text-large, h2{
  font-size: $font-size-large;
}
.text-medium, p, span, a{
  font-size: $font-size-medium;
}
.text-small, address > span{
  font-size: $font-size-small;
}
.text-xsmall, small{
  font-size: $font-size-xsmall;
}
.font-cardo{
  font-family: "Cardo";
}
