@import "../_variables.scss";
@import "../_mixins.scss";

input, textarea {
  background-color: transparent;
  border-color: #000 !important;
  border-radius: 3px;
  padding: 8px 15px;
  color: #fff;
  @include placeholder {
    color: #fff;
    font-size: 12px;
  }
  &.btn-default{
    padding: 8px;
  }
  resize: none;
}
